{
  "extends": ["squarespace",
    "squarespace/react",
    "prettier",
    "plugin:prettier/recommended",
    
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "globals": {
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.prod.js"
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "warn"
  },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": [
        "*.ts",
        "*.tsx"
      ],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": [
          "error",
          { "allowExpressions": true }
        ],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "warn"
      }
    }
  ]
}
