@import '../../styles/colors.less';

.tiptap {
  &[contenteditable='true'] {
    outline: none;
    min-height: 100px;

    font-size: 100%;
    background-color: transparent;
    border-left: 1px solid @font-color-dark;
    padding-left: 1em;

    // Only show placeholder text when editor is empty
    // see: https://tiptap.dev/docs/editor/extensions/functionality/placeholder#usage
    p:global(.is-empty):first-child::before {
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
      color: lighten(@font-color-dark, 10%);
      font-style: italic;
    }
  }
}
