@import '../../../../shared/styles/colors.less';
@import '../../../../shared/styles/viewport.less';

.right {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 100%;

  text-align: center;
}

.text {
  height: 100%;
  flex-grow: 1;

  overflow-y: auto;

  h1 {
    font-size: 34px;
    margin: 0;
    margin-bottom: 1rem;
  }

  hr {
    display: block;
    border: none;
    border-top: 1px solid @font-color-dark;
    width: 7em;
    margin: auto;
  }

  a {
    color: inherit;
  }

  p {
    line-height: 1.6;
    margin: 1rem 0;
  }
}

.finePrint {
  font-size: 12px;
}

.buttonContainer {
  padding: 1rem;
  text-align: center;

  &.mobileButton {
    padding: 0;
    margin: 1rem 0;
  }
}

.mobileOnly {
  display: none;
}

@media screen and (max-width: @modal-width-max),
  screen and (max-height: @modal-height-max) {
  @visible-text-height: 200px;
  @photo-padding: calc(100vh - @visible-text-height);

  .mobileOnly {
    display: block;
  }

  .desktopOnly {
    display: none;
  }

  .text,
  .buttonContainer {
    background: @creme;
    text-align: left;
  }

  .text hr {
    margin: 0;
  }
}
