@import '../../../../shared/styles/colors.less';
@import '../../../../shared/styles/viewport.less';

.welcomeModal {
  display: flex;
  padding: 0;
}

.imageContainer {
  position: relative;
  height: 100%;
  overflow: hidden;
  flex-basis: 35rem * 0.666;
  flex-shrink: 0;
}

.image {
  position: absolute;
  left: 0;

  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.1);
}

.textContainer {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  height: 100%;

  text-align: center;
}

.text {
  padding: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0;
  flex-grow: 1;

  overflow-y: auto;

  h1 {
    font-size: 34px;
    margin: 0;
    margin-bottom: 1rem;
  }

  hr {
    display: block;
    border: none;
    border-top: 1px solid @font-color-dark;
    width: 7em;
    margin: auto;
  }

  a {
    color: inherit;
  }

  p {
    line-height: 1.6;
    margin: 1rem 0;
  }
}

.finePrint {
  font-size: 12px;
}

.buttonContainer {
  padding: 1rem;
  text-align: center;
}

@media screen and (max-width: @modal-width-max),
  screen and (max-height: @modal-height-max) {
  @visible-text-height: 200px;
  @photo-padding: calc(100vh - @visible-text-height);

  .imageContainer {
    height: @photo-padding;
  }

  .textContainer {
    display: block;
    position: absolute;
    top: 0;

    padding-top: @photo-padding;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
  }

  .text,
  .buttonContainer {
    background: @creme;
    text-align: left;
  }

  .text hr {
    margin: 0;
  }
}
