@import '../../../../../../shared/styles/colors.less';

.tipForm > * {
  display: inline-block;
  margin-right: 1rem;
}

.amountInput {
  outline: none;
  border: none;
  width: 3em;

  font-size: 200%;
  background-color: transparent;

  border: none;
  border-bottom: 1px solid @font-color-dark;
  vertical-align: bottom;
}

.presets {
  margin: 2rem 0;
}

.presets > * {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
