@import '../../../../shared/styles/utils.less';

.container {
  position: relative;
}

.map {
  height: 100%;
}

.overlays {
  display: flex;
  position: absolute;
  bottom: 22px;
  right: 22px;
  z-index: 1;
}

.topControls {
  position: absolute;
  top: 22px;
  left: 22px;
  z-index: 1;
  display: flex;
  width: 20rem;

  
  .search {
    flex-grow: 1;
    width: 100%;
    margin-right: 0.5rem;
  }
}

.overlayInput {
  composes: visuallyhidden from '../../../../shared/styles/utils.less'
}

.overlayLabel {
  display: block;
  height: 3rem;
  width: 3rem;
  composes: floating from '../../../../shared/styles/ui.less';

  box-sizing: border-box;
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-indent: -999999px;
  
  
  text-align: center;
  cursor: pointer;

  .overlayInput[value='default-arial'] + & {
    background-image: url('./assets/airplane.svg');
  }

  .overlayInput[value='default-map'] + & {
    background-image: url('./assets/street.svg');
  }

  .overlayInput:checked + & {
    .visuallyhidden();
  }
}

.links {
  display: flex;
  flex-direction: column;
  right: 22px;
  top: 22px;
  position: absolute;
  text-align: center;
}


.outtakesLink, .eightiesLink {
    display: block;
    composes: floating from '../../../../shared/styles/ui.less';
    z-index: 1;
    box-sizing: border-box;
    height: 2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-bottom: 0.5rem;;
}

.externalIcon {
  height: 1.2ex;
  vertical-align: super;
}


@media screen and (max-width: 480px) {
  .topControls {
    width: calc(100% - 1rem);
    left: 0.5rem;
    top: 0.5rem;
  }
}

// Mapbox breaks here, need to move things to get out of the way
@media screen and (max-width: 640px) {
  .overlays {
    right: 0.5rem;
    bottom: 44px;
  }

  .links {
    top: initial;
    right: initial;
    bottom: 44px;
    left: 0.5rem;
    flex-direction: column-reverse;
  }
}

