:local {
  .container {
    position: relative;
  }
  
  .map {
    height: 100%;
  }

  .overlays {
    position: absolute;
    bottom: 22px;
    right: 22px;
    z-index: 1;
  }

  .topControls {
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1;
    display: flex;
    width: 20rem;

    
    .search {
      flex-grow: 1;
      width: 100%;
      margin-right: 0.5rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .topControls {
    width: 100%;
    left: 0;
    top: 0;
  }
}