:local {
  .container {
    position: relative;
  }
  
  .map {
    height: 100%;
  }

  .overlays {
    position: absolute;
    bottom: 22px;
    right: 22px;
    z-index: 1;
  }

  .topControls {
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1;
    
    & > * {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 20rem) {
  .topControls {
    left: 0;
    top: 0;
  }
}