:local {
  .container {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 66.6vh;

    background-color: black;

    overflow: hidden;

    z-index: 1;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .image {
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
    transform: scale(1.05); // cuts off the borders
  }

  @content-padding: 5.5px;

  .overlayContentWrapper {
    display: grid;
    grid-template-rows: auto 1fr fit-content(35%) auto auto;
    grid-template-areas:
      'alternates'
      '.'
      'stories'
      'buttons'
      'credit';

    row-gap: 11px;
    padding: @content-padding @content-padding;
    height: 100%;
    box-sizing: border-box;
  }

  .closeButton {
    color: white;
    position: absolute;
    top: 22px;
    right: 11px;
    z-index: 2;
    text-indent: -99999px;
    width: 2rem;
    height: 2rem;

    background-image: url('./assets/close-01.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  .alternates {
    grid-area: alternates;

    max-width: calc(100% - 77px);

    // Flush to left, top edge, it has internal padding
    margin-left: -@content-padding;
    margin-top: -@content-padding;
  }

  .stories {
    grid-area: stories;

    align-self: end;
    max-height: 100%;

    overflow-y: auto;

    @fadeout-size: 22px;
    // fade out at bottom
    mask: linear-gradient(0deg, transparent 0%, black @fadeout-size);
    // padding-bottom: @fadeout-size;
    box-sizing: border-box;
  }

  .buttons {
    grid-area: buttons;
  }

  .credit {
    grid-area: credit;

    color: white;
    font-size: 12px;
    margin: 0;
  }

  .floorFade {
    z-index: -1;

    grid-row: stories-start / -1;
    grid-column: 1 / -1;

    user-select: none;

    @margin-above: 77px;

    margin: -@content-padding -@content-padding;
    margin-top: -@margin-above;

    mask: linear-gradient(180deg, transparent 0%, black @margin-above);
    background: fade(black, 20%);
    backdrop-filter: blur(1px) contrast(0.6);
  }
}
