@import '../../styles/colors.less';
@import '../../styles/viewport.less';

.button {
  display: inline-block;

  outline: none;
  cursor: pointer;

  padding: 1rem 2rem;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
    border-color 200ms ease-in-out;

  border-width: 2px;
  border-style: solid;

  text-decoration: none;

  margin-right: 1rem;
  margin-top: 0.5rem;

  &.modal {
    &.primary {
      background-color: @creme;
      border-color: @creme;
    }
    &.secondary {
      color: @font-color-dark;
      border-color: @font-color-dark;
      background-color: transparent;
    }
  }

  &.viewer {
    border-radius: 4px;
    padding: 0.5rem 1rem;
    border-width: 1.5px;
    backdrop-filter: blur(2px);

    &.secondary,
    &.primary {
      color: white;
      border-color: fade(white, 85%);
      background-color: fade(@font-color-dark, 10%);
    }
  }

  @media screen and (max-width: @modal-width-max),
    screen and (max-height: @modal-height-max) {
    &.modal.primary {
      background-color: @red;
      border-color: @red;
      color: @creme;
    }
  }

  &.modal {
    &.active,
    &:hover&:not(:disabled) {
      background-color: @font-color-dark;
      border-color: @font-color-dark;
      color: @creme;
    }
  }

  &.viewer {
    &.active,
    &:hover&:not(:disabled) {
      color: white;
      background-color: fade(@font-color-dark, 50%);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
