<!doctype html>
<!-- © Julian Boilen, julianboilen.com-->
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gaId %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', '<%= gaId %>');
      </script>
    <script src="https://www.googleoptimize.com/optimize.js?id=<%= optimizeContainerId %>"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= recaptchaSiteKey %>"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://use.typekit.net/vly0uof.css">
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@600&family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    

    <title>1940s NYC | Street photos of every building in New York City in 1939/1940</title>
  </head>

  <body>
    <div id="app-container"></div>
  </body>
</html>
