@import './shared/styles/colors.less';

html {
  font-family: news-gothic-std, sans-serif;

  font-weight: 400;

  font-style: normal;

  font-size: 16px;

  background-color: @creme;

  color: @font-color-dark;
}

a {
  color: inherit;
}


h1, h2 {
  font-family: 'Spectral SC', serif;
}

input {
  color: inherit;

  &::placeholder {
    color: inherit;
    opacity: 0.5;
  }
}