@import '../../../../shared/styles/viewport.less';

.creditPurchaseModal {
  text-align: left;

  h1 {
    text-align: center;
  }
}

.finePrint {
  font-size: 12px;
}

.quantityOptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

.buttonRow {
  margin-bottom: 1rem;
}

@media screen and (max-width: @modal-width-max),
  screen and (max-height: @modal-height-max) {
  .creditPurchaseModal h1 {
    text-align: left;
  }

  .quantityOptions {
    grid-template-columns: 1fr;
  }
}
