@import '../../../../../shared/styles/fonts.less';
@import '../../../../../shared/styles/colors.less';

.metadataContainer {
  background-color: @creme;
  text-align: left;
  font-family: @font-family-monospace;
  padding: 0.5em;
  box-sizing: border-box;

  h2 {
    font-family: inherit;
    font-size: 1em;
  }

  dl {
    clear: both;
  }

  dt {
    float: left;
    clear: left;
    text-align: left;
  }

  dd {
    text-align: right;
  }
}
